/* @import url('https://fonts.googleapis.com/css?family=Space%20Grotesk:700|Space%20Grotesk:400'); */

/* VT323 (principal - CRT) */
@font-face {
  font-family: 'VT323';
  src: url('../assets/fonts/VT323-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Pixel Operator (pixel - destaque) */
@font-face {
  font-family: 'PixelOperator';
  src: url('../assets/fonts/PixelOperator.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* IBM Plex Mono (legível - textos) */
@font-face {
  font-family: 'IBMPlexMono';
  src: url('../assets/fonts/IBMPlexMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
    /* VERDE CRT (principal) */
    --color-primary: #7CFFB2;       /* destaque forte (títulos, foco) */
    --color-primary-soft: #4FD98A;  /* texto padrão */
    --color-primary-dark: #2FAF6E;  /* elementos secundários */

    /* GLOW */
    --glow-soft: rgba(124, 255, 178, 0.08);
    --glow-medium: rgba(124, 255, 178, 0.2);
    --glow-strong: rgba(124, 255, 178, 0.4);

    /* BACKGROUND */
    --bg-main: #080a09;       /* fundo geral */
    --bg-section: #121614;    /* variação de seção */
    --bg-surface: #1A1F1C;    /* caixas / cards */

    /* AMBIENTE (madeira / hardware) */
    --color-wood: #3A2F2A;
    --color-wood-dark: #2A211D;
    --color-wood-light: #4A3B34;

    /* TEXTO */
    --text-primary: #4FD98A;     /* padrão */
    --text-secondary: #9FB3A8;   /* descrição */
    --text-muted: #6E8076;      /* pouco importante */

    /* BORDAS */
    --border-soft: rgba(124, 255, 178, 0.15);
    --border-medium: rgba(124, 255, 178, 0.3);

    /* DISABLED */
    --accent-disabled: #2A3A36;

    /* OVERLAY CRT */
    --crt-overlay: rgba(0, 0, 0, 0.25);

    /* SOMBRA */
    --shadow-crt: 0 0 10px var(--glow-soft),
                0 0 20px var(--glow-soft);

    /* TEXTO COM GLOW */
    --text-glow: 0 0 6px var(--glow-medium),
                0 0 12px var(--glow-soft);
    
    /* TÍTULO COM GLOW */
    --title-text-glow: 0 0 8px var(--glow-medium),
                0 0 12px var(--glow-medium);

    /* BOX COM GLOW */
    --glow-box: 0 0 5px var(--glow-soft),
                0 0 5px var(--glow-soft);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-color: var(--bg-main);
    color: var(--text-primary);
    font-family: 'IBMPlexMono';
    font-weight: 400;
    overflow-y: hidden;
    height: 100%;
}

body::-webkit-scrollbar {
  display: none;
}

.background-video-container {
    width: 100%;

    .video-background {
        position: absolute;
        right: 0;
        bottom: 0;
        
        width: 80%;
        z-index: -2;

        /* fade nas bordas */
        mask-image: radial-gradient(ellipse 100% 130% at 70% 50%, white, transparent 40%);
    }
}

main {
    display: flex;
    width: 100%;
    height: 100%;
    overflow-x: auto; 
    overflow-y: hidden;
}

main::-webkit-scrollbar {
    display: none;
}

section {
    width: 100vw;
    height: 100%;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
}

/* BARRA SUPERIOR */
header {
    display: flex;
    flex-direction: column;
    padding: .5rem 2rem;
    position: fixed;
    width: 100%;
    align-items: center;
    z-index: 1;
    gap: .5rem;
}

.upper-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
    span {
        font-size: clamp(11px, 0.95vw, 15px);
    }
}

.terminal-command {
    color: var(--color-primary-dark);
    text-shadow: var(--text-glow);
    font-size: clamp(12px, 1.08vw, 20px);
    display: flex;
    align-items: center;
    gap: .4rem;
    flex-shrink: 0
}

.terminal-text {
    color: var(--color-primary-dark);
    text-shadow: var(--text-glow);
    font-size: clamp(12px, 1.08vw, 20px);
}

.user-button {
    background-color: var(--bg-main);
    padding: .25rem .5rem;
    border: 1px solid var(--color-primary-dark);
    display: flex;
    align-items: center;
    gap: .5rem;
    border-radius: 10px;
    cursor: pointer;

    span {
        font-size: clamp(10px, 0.88vw, 14px);
        font-family: 'IBMPlexMono';
        font-weight: 700;
    }

    span, i {
        color: var(--color-primary-dark);
        font-size: clamp(10px, 0.88vw, 14px);
    }
}

.timeline-container {
    width: 100%;
    padding: .5rem 0;
    display: flex;
    align-items: center;
}

.timeline-fill-base {
    background-color: var(--accent-disabled);
    width: 100%;
    height: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timeline-fill-base-container{
    width: 92%;
    height: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.timeline-fill-progress {
    width: 0%;
    height: 2px;
    background-color: var(--color-primary);
    box-shadow: var(--glow-box);
    position: absolute;
    left: 0;
    transition: all .4s ease-out;
}

.timeline-progress-marker {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
    cursor: pointer;

    .timeline-progress-marker-circle {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 1px solid var(--color-primary-dark);
        background-color: var(--bg-main);
        transition: all 0.25s ease-in-out;
    }

    .timeline-progress-marker-title {
        position: absolute;
        top: 1.5rem;
        left: 50%;
        transform: translateX(-50%);
        font-size: clamp(10px, 0.88vw, 14px);
        font-weight: 500;
        color: var(--color-primary-dark);
        transition: all .25s ease-in-out;
    }
}

.timeline-progress-marker:hover .timeline-progress-marker-circle {
    background-color: var(--accent-disabled);
}

.timeline-progress-marker-active {
    .timeline-progress-marker-circle {
        background-color: var(--color-primary) !important;
        box-shadow: var(--glow-box) !important;
    }

    .timeline-progress-marker-title {
        color: var(--color-primary);
        text-shadow: var(--text-glow);
    }
}

/* BARRA INFERIOR DO COMEÇO */
.bottom-bar {
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;

    position: fixed;
    left: 50%;
    bottom: .5rem;
    border: 1px solid var(--border-medium);
    width: 95%;
    height: 50px;
    box-shadow: var(--glow-box);
    transform: translateX(-50%);
    background-color: var(--bg-main);
    font-size: clamp(12px, 1.02vw, 16px);
    font-weight: 600;

    color: var(--color-primary-dark);
}

.bottom-bar-content {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.welcome-bottom-bar-right {
    display: flex;
    gap: 2rem;
}

#navigation-bottom-bar-content {
    display: none;
}

/* CONTEÚDO DE NAVEGAÇÃO DA BOTTOM BAR */
.navigation-bottom-bar-change-page {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 100%;
    flex: 1;
}

.navigation-bottom-bar-change-page:nth-child(3) {
    justify-content: flex-end;
}

.bottom-bar-change-page-indicator {
    color: color-mix(in srgb, var(--color-primary-dark), var(--bg-main) 50%);
    transition: all 0.2s ease-in-out;
}

.bottom-bar-change-age-button {
    background-color: var(--bg-main);
    border: 1px solid var(--accent-disabled);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 1rem;
    cursor: pointer;
    flex-shrink: 0;
    height: 70%;
    border-radius: .2rem;
    transition: all 0.2s ease-in-out;
    
    div {
        gap: 1rem;
    }
    
    i {
        font-size: 20px;
    }
    
    span {
        font-size: 20px;
        font-family: 'PixelOperator';
        font-weight: 600;
    }
}

.navigation-bottom-bar-middle {
    display: flex;
    gap: 2rem;
}

.bottom-bar-age-indicator {
    display: flex;
    gap: 1rem;
}

.bottom-bar-age-indicator-progress {
    display: flex;
    align-items: center;
    gap: .25rem;
}

.age-indicator-progress-cell {
    width: 20px;
    height: 20px;
    border: 1px solid var(--color-primary-dark);
    transition: all .4s ease-in-out;
}

.age-indicator-progress-cell-fill {
    box-shadow: var(--glow-box);
    background-color: var(--color-primary);
    border: 0;
}

/* CONTEÚDO DAS SECTIONS */
.section-container {
    display: flex;
    height: 100%;
    width: 100%;
    padding: 6.5rem 4rem 5rem 4rem;
    gap: 3rem;
    align-items: center;
}

.welcome-section-container-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    gap: 2rem;
}

.section-title-prequel {
    font-size: clamp(12px, 1.02vw, 16px);
    font-weight: 700;
}

.title-glow-text {
    color: var(--color-primary);
    text-shadow: var(--title-text-glow);
}

.glow-text {
    color: var(--color-primary);
    text-shadow: var(--text-glow);
}

.pixel-title {
    font-family: 'PixelOperator', monospace;
    font-size: clamp(50px, 7.32vw, 110px);
    font-weight: 1000;
    letter-spacing: .5rem;
    line-height: clamp(4rem, 6vw, 6rem);

    image-rendering: pixelated;
    font-smooth: never;
    -webkit-font-smoothing: none;
}

.welcome-section-description {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 80%;
}

.terminal-box {
    border: 2px solid var(--border-medium);
    padding: .5rem 1rem;
    box-shadow: var(--glow-box);
}

.disabled-icon {
    color: var(--accent-disabled);
}

.scroll-warning {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: clamp(14px, 1.32vw, 20px);
    font-weight: 700;
    width: max-content;
    gap: 2rem;

    .fa-computer-mouse {
        font-size: clamp(20px, 2.2vw, 35px);
    }
}

.terminal-line {
    width: 100%;
    height: 1px;
    border-top: 1px solid var(--color-primary-dark);
    margin: .5rem auto;
    flex-shrink: 0
}

.terminal-dashed-line {
    width: 100%;
    height: 1px;
    border-top: 1px dashed var(--color-primary-dark);
    margin: .5rem auto;
    flex-shrink: 0
}

/* SEÇÕES */
.section-container-left {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    max-width: 45%;
    gap: 2rem;
    height: 100%;
    justify-content: center;
}

.section-title-container {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    flex-shrink: 0;
}

.age-title-container {
    display: flex;
    flex-direction: column;
    margin-bottom: .75rem;
}

.age-title {
    font-size: clamp(40px, 5.86vw, 90px);
    font-weight: 1000;
    letter-spacing: 0rem;
    line-height: clamp(3.5rem, 5vw, 5.5rem);
}

.age-title-bottom-line {
    width: 100%;
    height: 6px;
    background-color: var(--color-primary-soft);
    box-shadow: var(--glow-box);
}

.section-description {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}

.age-description {
    font-size: clamp(12px, 1.02vw, 16px);
    width: 100%;
    text-shadow: var(--text-glow);
}

.age-secondary-description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;

    i {
        font-size: clamp(30px, 3.66vw, 60px);
    }
}

.section-container-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;
    height: 100%;
    justify-content: center;
    max-height: 800px;
}

.section-container-right-top {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    min-height: 0;
}

.age-main-window-image {
    border: 2px solid var(--border-medium);
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
}

.main-window-top {
    padding: .1rem .25rem;
    border-bottom: 2px solid var(--border-medium);
    flex-shrink: 0;
}

.main-window-content {
    display: flex;
    width: 100%;
    flex: 1;
    min-height: 0;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.section-container-right-bottom {
    flex-shrink: 0;
    display: flex;
    padding-top: 1rem;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;

    .terminal-box {
        flex: 1; 
        min-width: 0;
        display: flex;
        flex-direction: column;

        .terminal-command span {
            font-size: clamp(11px, 0.95vw, 15px);
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            display: block;
        }
    }

    .terminal-box:nth-child(1) {
        min-width: max-content;
        max-height: none;
        justify-content: space-around;
    }

    .terminal-box:nth-child(2) {
        padding: 0;
        overflow: hidden;
    }
}

.terminal-box-topics {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    justify-content: space-around;
    flex: 1;
}

/* BOXES */
.decoration-terminal-box {
    position: relative;

    .corner-icon {
        position: absolute;
        color: var(--color-primary-dark);
    }

    .corner-icon1 {
        left: 2px;
        top: -1px;
        transform: rotateZ(45deg);
    }
    .corner-icon2 {
        right: 2px;
        top: -1px;
        transform: rotateZ(135deg);
    }
    .corner-icon3 {
        right: 2px;
        bottom: -1px;
        transform: rotateZ(-135deg);
    }
    .corner-icon4 {
        left: 2px;
        bottom: -1px;
        transform: rotateZ(-45deg);
    }
}

.centralized-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}