section {
    border: 0;
}

.login-box-container {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* LOGIN BOX */
.login-box {
    background-color: var(--text);
    width: 70%;
    border-top: 30px solid var(--accent);

    padding: 2em 1em;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10%;
    gap: 1.5em;

    img {
        width: 110px;
        height: auto;
    }
}

.title {
    font-size: 38px;
}

input {
    width: 390px;
    padding: 10px;
    border: 2px solid var(--secondary);
    border-radius: 15px;
    font-size: 14px;
    background-color: var(--text);
    color: var(--secondary);
}

button {
    width: 390px;
    padding: 5px;
    background-color: var(--accent);
    color: var(--text);
    border: none;
    border-radius: 20px;
    font-size: 28px;
    font-weight: 700;
    cursor: pointer;
    transition: opacity .25s ease-in-out;
}

button:hover {
    opacity: .7;
}

label {
    align-self: flex-start;
    font-size: 16px;
    font-weight: 600;
}

a {
    font-size: 12px;
    color: var(--secondary);
}

*{
    font-family: 'Inter', sans-serif;
}

h3{
    font-weight: 900;
    font-size: 30px;
    color: var(--secondary);
}

.campos-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5em;
}

.campo {
    display: flex;
    flex-direction: column;
    gap: 4px;
    color: #0D2333;
}

/* TELA DE CADASTRO */
.login-top {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.login-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .75em;
    margin: 1em 0;
}

.progress-bar{
    display: flex;
    border-radius: 30px;
    border: 1px solid #081C29;
    overflow: hidden;
    width: 75%;

    .progress-element{
        /* background-color: #1ab8c4; */
        display: flex;
        align-items: center;
        height: 100%;
        width: 50%;
        gap: .5em;
    }
    
    .progress-element-complete {
        background-color: #1ab8c4;
    }
    
    .progress-element-dados-iniciais {
        border-right: 2px solid #081C29;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }

    .progress-element:nth-child(2) {
        justify-content: flex-end;
    }
}

.progress-number {
    border-radius: 50%;
    background-color: #081C29;
    color: white;
    height: 100%;
    width: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.progress-text {
    font-size: 14px;
    color: #0D2333;
}